*.elf
*.bin
*.hex
*.eep
*.map

*.o
*.d

/libraries/

*.suo
*.ntvs.*
*.code-workspace
.vscode/

/libraries/*/src/*.om
/libraries/*/src/*.a
/libraries/*/src/*.so
/libraries/*/src/*.dylib
/libraries/*/src/*.dll

/build/

.DS_Store

Thumbs.db

.idea/
*.iml
*.iws

.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries/
.idea/modules.xml
.idea/.name
.idea/description.html
.idea/inspectionProfiles/

out/